/* 

body{
    background: #c9d6ff;
    background: #00CDAC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} */

.login-container{
    background: linear-gradient(to left,#2E3192,#1BFFFF);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #c9d6ff;
    background: #00CDAC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    justify-self: center
}

.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.form input{
    padding: 10px;
    text-decoration: none;
    outline: none;
    width: 280px;
    border: 1px solid black;
    border-radius: 5px;
}

.para{
    margin-top: 10px;
}

.forgot{
    margin-top: 10px;
    cursor: pointer;
}

.sign-in-btn{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.sign-in-btn:hover{
    cursor: pointer;
    background-color: #258c97;
    color: #fff;
    transform: scale(1.1);
}

.login-No-Account{
    text-align: center;
    margin-top: 20px;
}